body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}

.whiteBox{
    height: 155px;
    width: 155px;
    background-color: white;
    margin: 10px;
    display: inline-block;
}

.imgBox{
    background-image: url("../image/image_01.jpg");
    position: relative;
    top: 5px;
    left: 5px;
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold{
    border: solid red 4px;
}

.hide{
    display: none;
}

.dashed{
    background: wheat;
}